body {
	font-size: 16px;
	color: #fff;
	background-color: #61122f; 
	font-family: 'Oxygen', sans-serif;
}

/** HEADER STYLES **/
#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}


#logo-img {
	background: url('../images/ltp.png') no-repeat;
	width: 200px;
	height: 200px;
	margin: 10px 10px 10px 0;
}

.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: #61122f;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #111;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75; 
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand p { /* CERTIFIED BY K M F */
	color: #000;
	text-transform: uppercase;
	font-size: .9em;
	margin-top: 15px;
 }
 .navbar-brand p span { /* stars PngItem */ 
 	vertical-align: middle;
 	
 }
 .navbar-brand img {
 	width: 50px;
 	height: 50px;
 	padding-top: 10px;

 }

 #nav-list {
 	margin-top: 0px;
 	float: right;
 	padding-top:10px;
	padding-bottm: 13px;
	padding-left: 2px;
	padding-right: 5px;
 }
 #nav-list a {
 	color: #951C49;
 	text-align: center;

 }
 #nav-list a:hover{
 	background: #E7E7E7;
 	opacity: 5.5px;
 }
 #nav-list a span {
 	font-size: 1.5em;
 	padding-top:5px;
	padding-bottm: 5px;
 }
 #phone { /* TEL: */
 	margin-top: 5px;
 }
 #phone a {/* We train */
 	text-align: right;
 	padding-bottom: 0;
 }
 #phone div {
 	color: #557c3e;
 	text-align: right;
 	padding-right: 15px;
 }

 .navbar-header button.navbar-toggle, .navbar-header .icon-bar{
 	border: 1px solid #61122f;
 }
 .navbar-header button.navbar-toggle {
 	clear: both;
 	margin: 18px;
 }

 /*** Large Device only ***/
 @media (min-width: 1200px) {

 }

 /*** Large Medium devices only ***/
 @media (min-width: 992px) and (max-width: 1199px) {
 	#logo-img{
 		background: url('../images/ltp copy.png') no-repeat;
 		width: 150px;
 		height: 150px;
 		margin: 5px 5px 5px 0;
 	}
 	#nav-list a span {
 	font-size: 1.7em;
 	padding-top:5px;
	padding-bottm: 5px;
 }
 	
 }

 /*** Large small devices only ***/
 @media (min-width: 768px) and (max-width: 991px) {
 	
 }

  /*** Extra-small Device only ***/
 @media (min-width: 767px) {
 	.navbar-brand {
 		padding:7px;
 		height: 80px;
 	}
 	.navbar-brand h1 {
 		padding-top: 17px;
 		
 	}
 	.navbar-brand p {
 		margin-top: 10px;
 	}
 	.navbar-brand p img{
 		width: 3px;
 		height: 3px;
 		margin: 1px 1px 1px 0;
 	}
 	#collapsable-nav a {
 		font-size: 1.0em;
 		align-items: center;
 	}
 	#collapsable-nav a span{
 		font-size: 1em;
 		margin-right: 5px;
 	}

 }
